
import java.io.ByteArrayOutputStream;
import java.io.FileInputStream;
import java.io.FileOutputStream;
import java.io.IOException;

public class TryResApp {

	public static void main(String[] args) throws IOException {
		// До Java 6 включительно.
		// String s = "Привет";
		// FileOutputStream fos = null;
		// try {
		// fos = new FileOutputStream("C:/All/tpm/HelloJava.txt");
		// fos.write(s.getBytes());// !!!
		// } catch (IOException e) {
		// e.printStackTrace();
		// }
		// finally{
		// fos.close();//!!!
		// }
		// Java 7 запись в фаил
		// String s = "Привет Финя ";
		// try(FileOutputStream fos = new 
		// FileOutputStream("C:/All/tmp/HelloJava.txt")){
		// fos.write(s.getBytes());
		// } catch (IOException e) {
		// e.printStackTrace();
		// }
		try (FileInputStream fis = new FileInputStream("C:/All/tmp/Java_In.txt");// Поток для чтения
				FileOutputStream fos = new FileOutputStream("C:/All/tmp/Java_Out.txt");//Поток для записи
				ByteArrayOutputStream baos = new ByteArrayOutputStream()) {// Требуется для временного хранения информации.
			int b;// Созданная переменная для временного хранения информации
			while((b=fis.read())!=-1){// Для чтения файла.(-1) нужно для полного чтения файла.
				baos.write(b);// Запись считанной информации передается в baos
			}
			baos.writeTo(fos);// Запись считанной информации передается в fos
			} catch (IOException e) {
			 e.printStackTrace();
			 }
		}
	}
